body {
  font-family: Arial, sans-serif;
  background-color: #3e6a83;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard {
  background-color: white;
  padding: 20px;
}

.balance {
  font-size: 2em;
  margin-bottom: 20px;
  color: black;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-group button {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  background-color: #3e9fc8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #086c97;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #777;
}
